html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.validation-summary ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.validation-summary.validation-summary-valid {
  display: none;
}

.field-validation-error {
  color: red;
  font-size: smaller;
}
